table {
  border-collapse: collapse;
  
}

table, th, td {
  border: 1px solid black;
}

th {
  background: #99ccff;
}

th, td {
  padding: 6px;
}

.main {
  margin: 0 auto;
  width: 35%;
  text-align: center;
}